.CountDownTimer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  top: -4.5em;
  gap: 2em;
  margin: 4em auto 2em;

  @media screen and (max-width: 768px) {
    top: -2.5em;
  }

  @media (max-width: 320px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.TimeCard {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 150px;
  height: 150px;
  border-radius: 4px;
  font-weight: 600;

  h2 {
    font-weight: 500;
    font-size: 2.5em;
    margin: 0;
  }

  span {
    text-transform: uppercase;
  }

  @media (max-width: 960px) {
    width: 120px;
    height: 120px;
  }

  @media (max-width: 768px) {
    width: 70px;
    height: 70px;

    h2 {
      font-size: 2em;
    }

    span {
      font-size: 0.75em;
    }
  }

  @media (max-width: 320px) {
  }
}
